.row {
	margin-bottom: 12px;
	margin-bottom: 12px;
}

.calculator {
	background-color: #f3f6f7;
	max-width: 400px;
	min-width: 300px;
	padding: 12px;
	text-align: center;
}

.calc-btn {
	height: 50px;
	min-width: 50px;
	width: 100%;
}

.calc-btn-2x {
	height: 50px;
	min-width: 120px;
	width: 100%;
}

.calc-display {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: right;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 8px 12px;
	font-size: 24px;
	border-radius: 4px;
	width: 100%;
}