* {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding-bottom: 12px;
}

.row {
	margin-bottom: 12px;
	margin-bottom: 12px;
}

.calculator {
	background-color: #f3f6f7;
	margin: auto;
	max-width: 400px;
	min-width: 300px;
	padding: 12px;
	text-align: center;
}

.calc-btn {
	height: 50px;
	min-width: 50px;
	width: 100%;
}

.calc-btn-2x {
	height: 50px;
	min-width: 120px;
	width: 100%;
}

.calc-display {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
	font-weight: normal;
	font-size: 24px;
	height: 50px;
	margin-bottom: 0;
	padding: 8px 12px;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}